* {
  outline: 0;
  margin: 0;
}

body {
  /* background-color: rgb(207, 201, 201); */
  background-image: linear-gradient(
    109.6deg,
    rgba(61, 131, 97, 1) 11.2%,
    rgba(28, 103, 88, 1) 91.1%
  );
}

.main {
  width: 100%;
  /* height: 266px; */
  background-color: #b1e7f2;
  margin-top: 10px;
}

.main2 {
  height: 490px;
  border-radius: 20px 0 0 20px;
}

.login {
  font-size: 30px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

select {
  margin-bottom: 10px;
}

.partition {
  display: flex;
}

form {
  font-size: 18px;
  width: 90%;
}

.design {
  margin: 5px 20px;
  margin-bottom: 50px;
  border-radius: 20px;
  width: 100%;
  height: 430px;
  background-image: url(C:\Users\vansh.arora\Vansh\Chat-app\frontend\src\public\images\LoginSignup.png);
  background-size: cover;
}

.name {
  position: fixed;
  background-color: white;
  width: 75%;
}

.messageInput {
  position: fixed;
}

/* ::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
} */

.messages {
  width: 100%;
  height: 452px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.messages2 {
  flex-direction: column-reverse;
}

.sidebar {
  height: 261px;
  border-radius: 20px;
  background-color: white;
}

.submit {
  position: absolute;
  right: 8%;
  bottom: 11.8%;
}

.chatBG {
  width: 99%;
  height: 381px;
  background-image: url(C:\Users\vansh.arora\Vansh\Chat-app\frontend\src\public\images\bgimage.jpg);
  background-size: contain;
  border-radius: 20px;
  margin: 5px 5px 2px 5px;
}

.welcome {
  background-color: aquamarine;
  width: 200px;
  height: 200px;
}
